@model IEnumerable<TrungNQ_Project_PRN222.Models.Document>

@{
    ViewData["Title"] = "Documents";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success small">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentStatus.DocumentStatusId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DocumentId" class="btn btn-success small">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DocumentId" class="btn btn-warning small">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DocumentId" class="btn btn-danger small">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
