@model IEnumerable<TrungNQ_Project_PRN222.Models.DocumentStatus>

@{
    ViewData["Title"] = "Document Status";
}

<h1>Document Status</h1>

<p>
    <a asp-action="Create" class="btn btn-success small">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentStatusName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DocumentStatusId" class="btn btn-success small">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DocumentStatusId" class="btn btn-warning small">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DocumentStatusId" class="btn btn-danger small">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
